---
const currentYear = new Date().getFullYear();
---

<footer
    class="mt-20 border-t border-border py-6 text-center text-sm text-muted-foreground"
>
    <p>&copy; {currentYear} AstroDocs. All rights reserved.</p>
</footer>
